.comment-page-container{
  display: flex;

  margin-top:20px;
  justify-content: center;
  gap:2em;
  
}

.inner{
  display: flex;
  height: 250px;
  gap:1em;
  flex-direction: column;
 

 
  

}

.comm{

}

.commentsss{
  background-color: #3d3d3d;
  color:white;
  width:100%;
  border:solid white 2px;



  margin-bottom: 5px;
  padding-bottom: 10px;
}

.bru{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  
}
.roundedv2{
  width:30px;
  height:30px;
  object-fit: contain;
  border:solid white 3px;
  margin-top: 5px;
 border-radius: 50%;
 margin-right:5px;

}

.userr{
  display: flex;
  align-items: center;
  gap:0.5em;
 
}

.tago{
  font-size: 12px;
}

.outer-cm-div{
  width:20%;
}

.inner-cf{
  width: 100%;
}