
.outc-pc{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap:2em;
  


}



.post-form{
  display:flex;
  flex-direction: column;
  border:solid white 2px;
  width:40%;
  gap:1em;
  background-color:black;
  padding: 10px;

 
}

.dd-btn{

}

.cm-btn{
  width:200px;
  height:40px;
  border-top-left-radius: 5px; /* Adjust the radius as needed */
  
  background-color:rgb(161, 156, 156);
}

.combo{
  display:flex;
  width:230px;

}

.syn{
  background-color: blue;
  display: flex;
  align-items: center;
  width:15px;
  justify-content: center;
  border-top-right-radius: 5px; /* Adjust the radius as needed */
  border-bottom-right-radius: 5px; /* Adjust the radius as needed */
  cursor: pointer;

}

.caret-down{
    color:white;

}


.title-fl{
  height:30px;
  width:90%;
  border-radius: 5px;
  background-color:rgb(161, 156, 156);
}

.desc-fl{
  height:100px;
  width:90%;
  border-radius: 5px;
  background-color:rgb(161, 156, 156);
}

.p-btn{
  width:100px;
  height: 30px;
  align-self: flex-end;
  background-color: blue;
  border-radius: 20px;
}

.drop-down-content{
  background-color:rgb(161, 156, 156);
  width:197px;
  padding-left:10px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom-left-radius: 5px; /* Adjust the radius as needed */
  position:fixed;
  border: 1px solid white
}

.sp{
margin-bottom: 5px;
cursor:pointer;
height: 30px;
width:90%;
  padding-left: 10px;
  text-align: start;
  padding-top: 5px;
  
}
.sp:hover{
  background-color: blue;
  color:white;
  border-radius: 5px;;
  
 
}

.uwu{
  width:15%;
  height:auto;
  margin-top: 30px;
}